body{
   margin: 250px 400px ;
}


.main-div{
   
    border: 1px solid rgba(188, 188, 188, 0.436);
    padding: 48px 40px 36px;
    font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
    border-radius: 5px;
}

img{
    width: 75px;
    height:24px ;
}

.img-and-2-yazi{
    text-align: center;
    margin-bottom: 24px;
}

.p1{
    font-size: 24px;
}

.input-div{
    text-align: center;
   
}

.birinci-input{
    width: 100%;
    height: 54px;
    font-size: 15px;
    padding: 14px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid black;
}

.birinci-a{
    padding: 9px 0 3px;
    
}
a{
    text-decoration: none;
    font-size: 14px;
    color: #1a73e8;
    font-weight: bold;
}

.Hesab-olusturun-ve-sonraki{
    margin: 32px 0 0  -8px;
   
}

.iki-sey{
    align-items: flex-start;
    display: flex;
    box-flex: 0;
    flex-grow: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -8px;
    margin-top: 32px;
    min-height: 48px;
    padding-bottom: 20px;
}
.birinci{
   
    top: 50%;
    height: 48px;
    left: 0;
    right: 0;
 
}

.ikinci-input{
    width: 98px;
    height: 48px;
    color: white;
    background-color:#1a73e8;
    border-radius: 5px;
}

a:hover{
    background-color: aquamarine;
}

a:visited{
    color: green;
}

